{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="col">Setores</h1>
        <a href="{% url 'add-setor' %}" class="col">Adicionar</a>
    </div>
    <div class="row">
        <div class="wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Nome do Setor:</td>
                        <td>Responsável</td>
                        <td>Diretoria</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                {% for setor in setores %}
                    <tr>
                        <td>{{ setor.id }}</td>
                        <td>{{ setor.nome }}</td>
                        <td>{{ setor.responsavel }}</td>
                        <td>{{ setor.diretoria }}</td>
                        <td><a href="{% url 'edit-setor' setor.id %}">Editar</a></td>
                        <td><a href="{% url 'delete-setor' setor.id %}">Remover</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}