@import url('https://fonts.cdnfonts.com/css/poppins');

.color-container {
  background-color: #f2e9e4;
}

body {
  background-color: #2b2d42;
  font-family: 'Poppins', sans-serif;
  color: #22223b;
}

.navbar-custom {
  background-color: #2b2d42;
}

.adjusting-pad {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
}

#total-order {
  background-color: #0077b6;
}
#orders-delivered {
  background-color: #00b4d8;
}
#orders-pending {
  background-color: #90e0ef;
}

.tabela-linha-cor {
  background-color: hsl(207, 27%, 41%);
  color: #e1e1f1;
}

.tabela-linha {
  color: #0f0529;
}

#add-link {
  color: hsl(207, 27%, 41%);
  text-decoration: none;
  font-size: 42px;
  text-shadow: 1px 1px var(#2b2d42);
}
