{% extends 'laudos/main.html' %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Diretoria -->
    <div class="col" style="border-right: 1px solid #333">
      <div class="row">
        <h1 class="col">Diretorias</h1>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-success form-control"
            data-bs-toggle="modal"
            data-bs-target="#modalDiretoria"
          >
            <i class="bi bi-plus-square-fill"></i>
          </button>
        </div>
      </div>

      <form method="GET" style="display: flex">
        <div class="input-group">
          <input class="form-control border-end-0 border rounded-pill" type="text" value="" id="diretoria-search-input" placeholder="Pesquise aqui a diretoria ...">
          <span class="input-group-append">
              <button class="btn btn-primary border-start-0 border rounded-pill ms-n3" type="button">
                  <i class="fa fa-search"></i>
              </button>
          </span>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da Diretoria</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for diretoria in diretorias %}
              <tr>
                <th scope="row">{{diretoria.id}}</th>
                <td>{{diretoria.nome}}</td>
                <td>
                  <a
                    href=""
                    class="btn btn-primary btn-sm"
                    ><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a
                  >
                </td>
                <td>
                  <a
                    href=""
                    class="btn btn-danger btn-sm"
                    ><i class="bi bi-trash-fill"></i> Remover</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal Diretoria -->
    <div class="modal" tabindex="-1" id="modalDiretoria">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cadastrar nova Diretoria:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="{% url 'nova_diretoria' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
              <div class="d-flex justify-content-center">
                <div class="row">
                  <div class="row">
                    <div class="col">
                      <input type="text" name="diretoria_id" id="diretoria_id" disabled class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label for="">Nome da Diretoria:</label>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col">
                      <input type="text" name="diretoria_nome" id="diretoria_nome" class="form-control" placeholder="Digite o nome da Diretoria ...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Fechar
              </button>
              <input
                type="submit"
                class="btn btn-success"
                value="Salvar Diretoria"
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Setores -->
    <div class="col" style="border-left: 1px solid #333">
      <div class="row">
        <h1 class="col">Setores</h1>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-success form-control"
            data-bs-toggle="modal"
            data-bs-target="#modalSetor"
          >
            <i class="bi bi-plus-square-fill"></i>
          </button>
        </div>
      </div>
      <form method="GET" style="display: flex">
        <div class="input-group">
          <input class="form-control border-end-0 border rounded-pill" type="text" value="" id="setor-search-input" placeholder="Pesquise aqui o setor ...">
          <span class="input-group-append">
              <button class="btn btn-primary border-start-0 border rounded-pill ms-n3" type="button">
                  <i class="fa fa-search"></i>
              </button>
          </span>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Setor</th>
                <th scope="col">Responsável</th>
                <th scope="col">Diretoria</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for setor in setores %}
              <tr>
                <th scope="row">{{setor.id}}</th>
                <td>{{setor.nome}}</td>
                <td>{{setor.responsavel}}</td>
                <td>{{setor.diretoria}}</td>
                <td>
                  <a
                    href=""
                    class="btn btn-primary btn-sm"
                    ><i class="bi bi-cloud-arrow-up-fill"></i> Atualizar</a
                  >
                </td>
                <td>
                  <a
                    href=""
                    class="btn btn-danger btn-sm"
                    ><i class="bi bi-trash-fill"></i> Remover</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Setor -->
<div class="modal" tabindex="-1" id="modalSetor">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastrar novo Setor:</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="{% url 'novo_setor' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="row">
                  <div class="row">
                    <div class="col">
                      <label for="">
                        Nome do Setor:
                      </label>
                      <input type="text" name="nome_setor" id="nome_setor" placeholder="Digite o nome do setor ..." class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="">
                        Nome do Responsável
                      </label>
                      <input type="text" name="responsavel_setor" id="responsavel_setor" placeholder="Digite o nome do Responsavel do setor" class="form-control">
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col">
                      <label for="">Selecione a Diretoria:</label>
                      <select name="diretoria_setor" id="diretoria_setor" class="form-control">
                        <option value=""></option>
                        {% for diretoria in diretorias %}
                        <option value="{{diretoria.id}}">{{diretoria.nome}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <input
            type="submit"
            class="btn btn-success"
            value="Salvar Setor"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content%}
